.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;  
    opacity: 0.9;
    transition: 0.5s;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay__form{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    background-color: white;
}